body {
  background-color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* float: left; */

}

input {
  font-size: 1.1em;
}

label  {
  font-size: 1.1em;
}

button {
  margin-top: 20px;
  line-height: 40px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
}
button:hover {
  background: lightsalmon;
}

rect:hover {
  cursor: pointer;
}

circle:hover {
  cursor: pointer;
}

text.circle:hover {
  cursor: pointer;
}
text.value:hover {
  cursor: pointer;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

/* svg > rect {
  border: 5px solid red;
} */
/*
svg {
  border: 1px solid black;
} */
/*
#tree {
  border: 1px solid black;
} */
